<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropbox Paper Integration</title>
    <link rel="stylesheet" href="assets/css/restyle.min.css"/>
    <script type="text/javascript" src="assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/promise-6.1.0.js"></script>
    <script type="text/javascript" src="assets/js/integration.js"></script>
</head>
<body>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>