{% extends "base.twig" %}

{% block content %}
<div class="grid">
    <div class="row">
        <div class="cell">
            <p></p>
            <div class="input-control input-text full-size">
                <label>URL:</label>
                <input id="dropbox-paper-href" type="text"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <button id="download-button" class="button rounded primary" type="button">Download</button>
            <a href="/remove-token" class="button rounded primary">Clear token</a>
        </div>
    </div>
</div>
{% endblock %}